/*Small devices*/
@media (max-width: 399px) {
 .collection-preview {
  padding: 5%;

  .title {
    font-size: 1.6em;
    margin-bottom: 5%;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 10px;
  }
   .collection-item {
    width: 100%;
    margin-bottom: 15%;
  }
 }
}
/*Medium devices*/
@media (max-width: 769px) and (min-width: 400px) {
 .collection-preview {
  padding: 5%;

  .title {
    font-size: 1.6em;
    margin-bottom: 5%;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
   .collection-item {
    width: 100%;
    margin-bottom: 15%;
  }
 }
}
/*Large devices*/
@media (min-width: 770px) {
 .collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;

  .title {
    font-size: 1.6em;
    margin-bottom: 5%;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
} 
}
