.collection-page {
   display: flex;
   flex-direction: column;
 
   .title {
     font-size: 38px;
     margin: 0 auto 50px;
   }
 
   .items {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-gap: 10px;
     justify-items: center;
 
     & .collection-item {
       margin-bottom: 50px;
       width: 80%;
       button {
         position: absolute;
         top: 75%;
         opacity: 0.7;
         display: none;
       }
       &:hover {
        button {
           display: inline;
        }
     }
     }
   }
 }

 @media only screen and (max-width: 812px) {
   .collection-page {
      .items {
         grid-template-columns: 1fr 1fr;
         grid-gap: 5px;
      }
   }
 }

 @media only screen and (max-width: 450px) {
   .collection-page {
      .items {
         grid-template-columns: 1fr;
      }
   }
 }